[submodule "yjit-bench"]
	path = benchmark/yjit-bench
	url = https://github.com/Shopify/yjit-bench
	shallow = true
[submodule "benchmark-driver"]
	path = benchmark/benchmark-driver
	url = https://github.com/benchmark-driver/benchmark-driver
	shallow = true
[submodule "ruby"]
	path = benchmark/ruby
	url = https://github.com/ruby/ruby
	shallow = true
[submodule "benchmark/ruby-method-benchmarks"]
	path = benchmark/ruby-method-benchmarks
	url = https://github.com/benchmark-driver/ruby-method-benchmarks
	shallow = true
