[submodule "yjit-bench"]
	path = yjit-bench
	url = https://github.com/Shopify/yjit-bench
	shallow = true
[submodule "benchmark-driver"]
	path = benchmark-driver
	url = https://github.com/benchmark-driver/benchmark-driver
	shallow = true
[submodule "ruby"]
	path = ruby
	url = https://github.com/ruby/ruby
	shallow = true
