name: ruby
on:
  push:
    branches: [master]
  schedule:
    # ruby-docker-images uses Start Time: 16:00 UTC
    - cron: '0,5,10,15,20,30,40,50 16 * * *'
  workflow_dispatch:
jobs:
  add:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
      - run: bin/add-ruby.rb
      - run: "bin/git-push.sh 'GitHub Actions: Add ruby'"
